<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Gerenciamento de clientes</li>
    </ol>
  </nav>

  <div class="container">
    <div class="card list-car">
      <h5 class="card-header">Lista de clientes</h5>
      <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Primeiro nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Email</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                  <td>{{client.id}}</td>
                  <td>{{client.first_name}}</td>
                  <td>{{client.last_name}}</td>
                  <td>{{client.email}}</td>
                  <td>
                    <button type="button" class="btn btn-warning btn-sm" (click)="editClients(client)">Editar</button>
                    <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteClients(client)">Deletar</button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>

      <div class="card add-client">
        <h5 class="card-header">Adicionar/Atualizar clientes</h5>
        <div class="card-body">
            <form id="add-form" (ngSubmit)="f.form.valid && saveClients(f)" #f="ngForm" novalidate>
              <div class="form-group">
                <label for="first_name">Primeiro Nome</label>
                <input type="text" [(ngModel)]="client.first_name" id="firts_name" name="firts_name" #first_name="ngModel" required class="form-control"  placeholder="Digite o Nome">
            </div>
            <div class="form-group">
                <label for="last_name">Sobrenome</label>
                <input type="text" [(ngModel)]="client.last_name" id="last_name" name="last_name" #last_name="ngModel" required class="form-control"  placeholder="Digite o Sobrenome">
            </div> 
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" [(ngModel)]="client.email" id="email" name="email" #email="ngModel" required class="form-control"  placeholder="Digite o Email"> 
            </div>  

            <button type="submit" class="btn btn-primary btn-add-client">Salvar</button>
            <button type="reset" class="btn btn-secondary btn-add-client" (click)="cleanForm(f)">Cancelar</button>
          </form>
      </div>
    </div>
    
</div>
